body {
  --el-color-primary: #009688;
  --el-color-primary-light-3: #009688dd;
  --el-color-primary-light-5: #009688aa;
  --el-color-primary-light-7: #00968877;
  --el-color-primary-light-8: #00968844;
  --el-color-primary-light-9: #00968811;
  --el-color-primary-dark-2: #007c71;
}